.trigger {
  font-size: 30px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color 0.3s;
  float: right;
  &:hover {
    color: #1890ff;
  }
}

.ant-badge-count, .ant-badge-dot, .ant-badge .ant-scroll-number-custom-component{
  top:15px;
}